@{
	Layout = null;
}

<div class="flex" id="flex">
	<div class="contenido-modal" style="width: 550px; height:180px;">
		<div class="modal-Titulo flex">
			<h6 id="tituloModalConfirmacion" class="text-white pt-2">Confirmar</h6>
			<span class="cerrarModal" onclick="cerrarModalConfirmacion()" id="cerrarModalConfirmacion">&times;</span>
		</div>
		<div class="modal-Cuerpo">
			<form action="~/Empresas/EliminarEmpresa?id=@ViewBag.id" method="post">
				<h4 class="text-center">¿Está seguro que desea eliminar la Empresa?</h4>
				<br />
				<div class="row" style="text-align:center">
					<div class="col-md-12" style="text-align:right">
						<input type="submit" value="Eliminar" class="btn btn-danger" />
						<input onclick="cerrarModalConfirmacion()" type="button" value="Cancelar" class="btn btn-info" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>