@model SysFloricola.Models.CAUSAS
@{
	Layout = null;
}

@{
	Layout = null;
}

<div class="flex" id="flex">
	<div class="contenido-modal" style="width: 400px; height:250px;">
		<div class="modal-Titulo flex">
			<h6 id="tituloModalCrear" class="text-white pt-2"></h6>
			<span class="cerrarModal" onclick="cerrarModal()" id="cerrarModal">&times;</span>
		</div>
		<div class="modal-Cuerpo">
			@using (Html.BeginForm("CrearCausa", "Causas", FormMethod.Post, new { onsubmit = "return validar()" }))
			{
				@Html.AntiForgeryToken()

				<div class="form-horizontal pl-3 pr-3">
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						@Html.HiddenFor(model => model.CAUCODIGOI)
						<div class="row">
							<div class="col-md-12">
								<label class="control-label">Ingrese la descripción</label>
								@Html.EditorFor(model => model.CAUDESCRIPCION, new { htmlAttributes = new { @class = "form-control", @id = "txtDescripcion" } })
								<label id="descripcion" hidden class="text-danger control-label">Ingrese una Descripción</label>
							</div>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-12" style="text-align:right">
							<input id="btnFormulario" type="submit" value="Guardar" class="btn btn-success" />
							<input onclick="cerrarModal()" type="button" value="Cancelar" class="btn btn-info" />
						</div>
					</div>
			}
		</div>
	</div>
</div>

