
@{
	ViewBag.Title = "CrearControlDiario";
}

<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />

<div class="row pt-2 pb-4">
	<div class=" pl-5 pr-5 col-md-5 text-center">
		<div hidden id="creado" class="alert alert-success">Registro Creado Correctamente</div>
		<div hidden id="error" class="alert alert-danger">Ocurrió un problema al crear el registro</div>
		<div hidden id="advertencia" class="alert alert-warning">El registro no ha sido creado. Ya existe un registro con la fecha Actual</div>
	</div> <br />
	<br />
	<div class="col-md-12 pl-4" >
		<div class="col-md-6" style="text-align:left">
			<a href="~/DetalleFlorClasificada/Index" style="cursor: pointer;" class="action-item text-black-50 " data-toggle="tooltip" title="Regresar">
				<i class="fa fa-arrow-circle-left text-black-50" style="font-size: 16px;"></i> Regresar
			</a>
		</div>
		<div class="col-md-6 pr-5" style="text-align:right">
			<label class="control-label">Fecha: @ViewBag.Fecha</label>
			<input hidden value=" @ViewBag.Fecha" id="fechaRegistro" />
			<input hidden value=" @ViewBag.idProceso" id="idProceso" />
		</div>
	</div>
</div>

<form  id="formulario" >
	<div class="row pt-2">

		<div class="col-md-4 pl-5 pr-5">
			<label class="control-label">Seleccione el tipo de flor</label>
			@Html.DropDownList("TPFCODIGOI", null, htmlAttributes: new { @class = "form-control", @id = "cmbTipoFlor" })
		</div>
		<div class="col-md-4 pl-5 pr-5">
			<label class="control-label">Seleccione el número de tallos</label>
			<select class="form-control" id="cmbTallos"></select>
			@*@Html.DropDownListFor(m => m.TMTCODIGOI, Enumerable.Empty<SelectListItem>(), new { @class = "form-control", id = "cmbTallos" })*@
		</div>
		<div class="col-md-4 pl-5 pr-5">
			<label class="control-label">Observación</label>
			<input type="text" class="form-control" name="observacion" id="observacion" />
		</div>

		<div class="col-md-12 pl-5 pr-5 pt-4" style="text-align:center">
			<table class="table table-responsive-lg table-bordered" id="tabla">
				<thead style="background-color: #2A3F54" class="text-white" id="cabecera"></thead>
				<tbody id="contenido"></tbody>
			</table>
		</div>

		<div class="col-md-12 pl-5 pr-5 " style="text-align:right">
			<input type="submit" value="Guardar" id="btnGuardar" hidden class="btn btn-success" />
		</div>

	</div>
</form>

@section Scripts {
	<script src="~/Scripts/jquery.dataTables.js"></script>
	<script>
		let cmbTipoFlor = document.getElementById("cmbTipoFlor");
		let cmbTallos = document.getElementById("cmbTallos");
		var listaContenido, listaVariedades, listaDetalle;
		cmbTipoFlor.addEventListener("change", actualizar);
		cmbTallos.addEventListener("change", llenarTabla);
		let indice = 0;
		let indiceNombre = 0;
		let nuevo = true;
		var aumento = false;
		var cabecera = document.getElementById('cabecera');
		var contenido = document.getElementById('contenido');
		actualizar();

		function actualizar() {
			limpiarCabecera();
			$.get("/DetalleFlorClasificada/listaTallos?id=" + cmbTipoFlor.value)
				.done(function (response) {
					if (response.estado) {
						cmbTallos.innerHTML = "";
						let opt = document.createElement("option");
						opt.appendChild(document.createTextNode("Seleccione una opción"));
						opt.value = 0;
						cmbTallos.appendChild(opt);
						response.lista.forEach(function (element) {
							opt = document.createElement("option");
							opt.appendChild(document.createTextNode(element.UNDDESCRIPCION));
							opt.value = element.UNDCODIGOI;
							cmbTallos.appendChild(opt);
						});
					} else {
						alert(response.mensaje);
					}
				});


		}

		async function llenarTabla() {
			limpiarCabecera();
			await $.get("/DetalleFlorClasificada/listaUnidades?id=" + cmbTipoFlor.value + "&idUnidad=" + cmbTallos.value)
				.done(function (response) {
					if (response.estado) {
						let opt = document.createElement("tr");
						var columna = document.createElement("td");
						columna.append('Variedades');
						opt.appendChild(columna);
						listaContenido = response.lista;
						response.lista.forEach(function (element) {
							columna = document.createElement("td");
							columna.append(element.TMTDESCRIPC);
							opt.appendChild(columna);
						});
						cabecera.append(opt);
					} else {
						alert(response.mensaje);
					}

				});
			await llenarContenido();
		}

		async function llenarContenido() {
			if (cmbTallos.value !== '0') {
				indice = 0;
				nuevo = true;
				aumento = false;
				var idProceso = document.getElementById('idProceso').value;
				await $.get("/DetalleFlorClasificada/listaVariedades/?idTipoFlor=" + cmbTipoFlor.value + "&idUnidad=" + cmbTallos.value +"&idProceso=" +idProceso)
					.done(function (response) {
						if (response.estado) {
							var puestos = [];
							var bandera = 0;
							listaDetalle = response.listaDetalle;
							if (listaDetalle.length > 0) {
								listaDetalle.forEach(function (detalle) {
									listaContenido.forEach(function (item) {
										if (detalle.TMTCODIGOI === item.TMTCODIGOI) {
											puestos.push(bandera);
										}
									})
									bandera++;
								})
							}


							listaVariedades = response.lista;
							var l1 = listaVariedades.length;
							var l2 = listaContenido.length;
							var l3 = listaDetalle.length;
							var listaCompleta = (l1 * l2);
							var bandera2 = 0;
							if ((l3 / l2) == l1) {

							}
							if (l3 !== 0) {
								if (((l1 * l2) - l1) === l3) {
									if (listaCompleta > l3) {
										puestos = [];
										aumento = true;
										for (var i = 0; i < l1; i++) {
											for (var j = 0; j < l2; j++) {
												if (j != (l2 - 1)) {
													puestos.push(bandera2);
												}
												bandera2++;
											}
										}
									}
								}

							}

							indice = 0;
							if (aumento) {
								console.log('Entró al aumento 1')
								var indiceMatriz = 0;
								for (var i = 0; i < l1; i++) {
									let opt = document.createElement("tr");
									var columna = document.createElement("td");
									columna.setAttribute("class", "numero");
									columna.append(response.lista[i].VRDNOMBREC);
									opt.appendChild(columna);
									var codigo = 1;
									for (var j = 0; j < l2; j++) {
										nuevo = false;
										columna = document.createElement("td");
										var input = document.createElement('input');
										input.setAttribute("style", "width: 50px; text-align:right;");
										if (j != (l2 - 1)) {
											var cantidad = listaDetalle[indiceMatriz].DTECANTIDAD
											input.setAttribute("value", "" + cantidad);
											input.setAttribute("name", "" + listaDetalle[indiceMatriz].DTECODIGOI);
											input.setAttribute("id", listaContenido[j].UNDCODIGOI + "" + codigo + "" + response.lista[i].VRDCODIGOI);
											codigo++;
											indice++;
											indiceMatriz++;
											columna.append(input);
											opt.append(columna);
										} else {
											input.setAttribute("value", "0");
											input.setAttribute("id", listaContenido[j].UNDCODIGOI + "" + codigo + "" + response.lista[i].VRDCODIGOI);
											codigo++;
											indice++;
											columna.append(input);
											opt.append(columna);
										}
									}
									contenido.append(opt);
										var btn = document.getElementById('btnGuardar');
										btn.hidden = false;
								}

							} else {
								response.lista.forEach(function (element) {
								let opt = document.createElement("tr");
								var columna = document.createElement("td");
								columna.setAttribute("class", "numero");
								columna.append(element.VRDNOMBREC);
								opt.appendChild(columna);
								var codigo = 1;
									if (listaDetalle.length > 0) {
										nuevo = false;
										listaContenido.forEach(function (unidad) {
										columna = document.createElement("td");
										var input = document.createElement('input');
										input.setAttribute("style", "width: 50px; text-align:right;");

										try {
											var cantidad = listaDetalle[puestos[indice]].DTECANTIDAD
											input.setAttribute("value", "" + cantidad);
											input.setAttribute("name", "" + listaDetalle[indice].DTECODIGOI);
											input.setAttribute("id", unidad.UNDCODIGOI + "" + codigo + "" + element.VRDCODIGOI);
											codigo++;
											indice++;
											columna.append(input);
											opt.append(columna);
										} catch (e) {
											input.setAttribute("value", "0");
											input.setAttribute("id", unidad.UNDCODIGOI + "" + codigo + "" + element.VRDCODIGOI);
											codigo++;
											indice++;
											columna.append(input);
											opt.append(columna);
											console.log(e)
										}

									});
								}
								else {
									listaContenido.forEach(function (unidad) {
										columna = document.createElement("td");
										var input = document.createElement('input');
										input.setAttribute("style", "width: 50px; text-align:right;");
										input.setAttribute("value", "0");
										input.setAttribute("id", unidad.UNDCODIGOI + "" + codigo + "" + element.VRDCODIGOI);
										codigo++;
										columna.append(input);
										opt.append(columna);
									});
								}

								contenido.append(opt);
								var btn = document.getElementById('btnGuardar');
								btn.hidden = false;
							});
							}


						} else {
							alert(response.mensaje);
						}
					});
			} else
				limpiarCabecera();

		}

		function limpiarCabecera() {
			cabecera.innerHTML = '';
			contenido.innerHTML = '';
			var btn = document.getElementById('btnGuardar');
			btn.hidden = true;
		}

		async function enviar() {
			var listaDatos = []
			await listaVariedades.forEach(function (element) {
				var codigo = 1;
				listaContenido.forEach(function (valor) {
					var datos = {};
					datos.VRDCODIGOI = element.VRDCODIGOI;
					var id = valor.UNDCODIGOI + '' + codigo + '' + element.VRDCODIGOI;
					var elemento = document.getElementById(id)
					datos.TMTCODIGOI = valor.TMTCODIGOI;
					datos.DTECANTIDAD = elemento.value;
					datos.UNDCODIGOI = cmbTallos.value;
					datos.TPFCODIGOI = cmbTipoFlor.value;
					listaDatos.push(datos);
					codigo++;
				})
			})

			var observacion = document.getElementById('observacion').value;
			var fecha = document.getElementById('fechaRegistro').value;
			await $.post('/DetalleFlorClasificada/CrearControlDiario', {
				listaDetalle: listaDatos,
				idTipoFlor: cmbTipoFlor.value,
				idUnidad: cmbTallos.value,
				fecha: fecha,
				observacion: observacion,
				nuevo: true
			}, function (data, status) {
					if (data.res == 1) {
						var creado = document.getElementById('creado');
						creado.hidden = false;
					} else if (data.res == 2) {
						var advertencia = document.getElementById('advertencia');
						advertencia.hidden = false;
					} else {
						var error = document.getElementById('error');
						error.hidden = false;
					}

				});
			await actualizar();
			return true;
		}

		async function editarRegistro() {
			indiceNombre = 0;
			var listaDatos = []

			await listaVariedades.forEach(function (element) {
				var codigo = 1;
				listaContenido.forEach(function (valor) {
					try {
						var datos = {};
						datos.VRDCODIGOI = element.VRDCODIGOI;
						var id = valor.UNDCODIGOI + '' + codigo + '' + element.VRDCODIGOI;
						var elemento = document.getElementById(id)
						datos.TMTCODIGOI = valor.TMTCODIGOI;
						datos.DTECANTIDAD = elemento.value;
						datos.UNDCODIGOI = cmbTallos.value;
						datos.TPFCODIGOI = cmbTipoFlor.value;
						datos.DTECODIGOI = listaDetalle[indiceNombre].DTECODIGOI
						listaDatos.push(datos);
						codigo++;
						indiceNombre++;
					} catch (e) {
						datos.DTECODIGOI = 0
						listaDatos.push(datos);
						codigo++;
						indiceNombre++;
					}

				})
			})

			var observacion = document.getElementById('observacion').value;
			var fecha = document.getElementById('fechaRegistro').value;
			await $.post('/DetalleFlorClasificada/CrearControlDiario', {
				listaDetalle: listaDatos,
				idTipoFlor: cmbTipoFlor.value,
				idUnidad: cmbTallos.value,
				fecha: fecha,
				observacion: observacion,
				nuevo: false
			}, function (data, status) {
					if (data.res == 1) {
						var creado = document.getElementById('creado');
						creado.textContent = 'Registro Editado Correctamente'
						creado.hidden = false;
					} else {
						var error = document.getElementById('error');
						error.hidden = false;
					}
				});
			await actualizar();
			return true;
		}

		$("#formulario").submit(function (event) {
			if (nuevo) {
				if (enviar()) {
					timer();
					
				}
			} else {
				if (editarRegistro()) {
					timer();
				}

			}
			listaVariedades = [];
			listaDetalle = [];
			listaContenido = [];
			event.preventDefault();
		});

		function timer() {
			$('.alert').fadeIn();
                setTimeout(function () {
                $(".alert").fadeOut();
			}, 5000);
		}


	</script>
}
